@using Htmx.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="htmx-config"
          historyCacheSize="20"
          indicatorClass="htmx-indicator"
          includeAspNetAntiforgeryToken="true"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/classless.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body hx-boost="true">
<header>
    <section>
        <h1>@ViewData["Title"]</h1>
        <p><strong>@ViewData["SubTitle"]</strong></p>
        <nav class="noprint">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Start</a>
                </li>
                <li>
                    <a asp-controller="Tools" asp-action="Index">Tools</a>
                </li>
            </ul>
        </nav>
    </section>
</header>

<main role="main">
    @RenderBody()
</main>

<script src="~/js/htmx.min.js" asp-append-version="true"></script>
<script src="~/js/_hyperscript.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@Html.HtmxAntiforgeryScript()
@await RenderSectionAsync("Scripts", false)
</body>
</html>